/* Credit: alexl https://codeberg.org/alexl/for-logseq */
&>.flex.flex-row.pr-2 .bullet-container .bullet:before {
    font-family: 'tabler-icons';
    color: var(--awSt-content-text-user, var(--ls-primary-text-color));
    background-color: var(--awSt-content-bg-user, var(--ls-primary-background-color));
    border-radius: 100%;
    position: relative;
    top: -8.5px;
    left: -6px;
    letter-spacing: 1px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 1px;
}

&:not(:focus-within) .bullet {
    transform: none;
}

&>div>.flex.flex-col.block-content-wrapper {
    padding-left: 2px;
}

&>.flex.flex-row.pr-2>.block-control-wrap a {
    &:hover>.bullet-container {
        background-color: transparent;

        & .bullet {
            background-color: transparent;
            transform: none;
        }
    }

    &>.bullet-container.bullet-closed>.bullet,
    &:focus>.bullet-container .bullet {
        background-color: transparent;
    }

    &>.bullet-container.bullet-closed {
        background-color: transparent;

        &>.bullet:before {
            background-color: var(--ls-secondary-background-color);
            outline: 2px solid var(--ls-guideline-color);
            padding: 0;
            border-radius: .3em;
            opacity: 80%;
            box-shadow: 0px 0.35px 0.7px 1px rgba(var(--ls-guideline-color), 0.8);
        }
    }
}